<div id="main_cont">
<h2>Followers</h2>
<%= render :partial => 'shared/users', :locals => {:users => @followers} -%>
</div>

<%= render :partial => 'shared/sidebar', :locals => { :user => @login_user} -%>
